$font-family-sans-serif: 'Poppins', sans-serif;

@import "~bootstrap/scss/bootstrap";

@import 'transitions';

@import 'aside';

@import 'about';

main {
	flex: 1;
	display: flex;
	align-items: stretch;
}

.map-wrapper {
	flex-grow: 1;
	display: flex;
	position: relative;
	background-color: #efe9e1;
}

#map {
	flex-grow: 1;
	background-color: #efe9e1;
	.pink {
		color: pink;
	}
}

.mapboxgl-marker {
	background: hotpink;
	width: 19px;
	height: 19px;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
	@media screen and (min-width: 600px) {
		width: 14px;
		height: 14px;
	}
	&.hidden {
		opacity: 0;
	}
	&.active {
		background: tomato;
		border-width: 2px;
		width: 1.55rem;
		height: 1.55rem;
		@media screen and (min-width: 600px) {
			width: 1.4rem;
			height: 1.4rem;
		}
	}
}

.error-message {
	background-color: white;
	overflow-y: scroll;
	position: absolute;
	top: 50%;
	transform: translateY(-51%);
	max-width: 800px;
	margin: 0 2rem;
	padding: 1rem 2rem;
	z-index: 12;
	text-align: center;
	@media screen and (min-width: 600px) {
		left: 50%;
		transform: translateY(-51%) translateX(-50%);
	}
}

.loading {
	height: 100%;
	z-index: 12;
	mix-blend-mode: multiply;
	transition: all 1s ease;
	img {
		top: 50%;
		left: 50%;
		margin-left: -80px;
		position: absolute;
		z-index: 14;
		margin-top: -60px;
		width: 160px;
		height: 120px;
	}
}

.close-info {
	float: right;
	background: none;
	border: 0;
}
