$spacer: 1rem;
$font-family-sans-serif: 'Poppins', sans-serif;

@import "~bootstrap/scss/bootstrap";

@import 'aside';

@import 'about';

ul.navbar-nav {
	padding-right: $spacer;
}

main {
	flex: 1;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	position: relative;
	width: 100vw;
}

#map {
	flex-grow: 1;
	background-color: #efe9e1;
	.pink {
		color: pink;
	}
}

.mapboxgl-marker {
	background: hotpink;
	width: 19px;
	height: 19px;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
	@media screen and (min-width: 600px) {
		width: 14px;
		height: 14px;
	}
}

.error-message {
	background-color: white;
	overflow-y: scroll;
	position: absolute;
	top: 50%;
	transform: translateY(-51%);
	max-width: 800px;
	margin: 0 2rem;
	padding: 1rem 2rem;
	z-index: 12;
	text-align: center;
	@media screen and (min-width: 600px) {
		left: 50%;
		transform: translateY(-51%) translateX(-50%);
	}
}

.bird-flying {
	top: 50%;
	left: 50%;
	margin-left: -80px;
	position: absolute;
	z-index: 12;
	margin-top: -60px;
	width: 160px;
	height: 120px;
	mix-blend-mode: multiply;
	transition: opacity 1000ms ease-out, visibility 0ms ease 1000ms;
	&.loaded {
		opacity: 0;
		visibility: hidden;
	}
}

.close-info {
	float: right;
	background: none;
	border: 0;
}

.mapboxgl-marker {
	transition: opacity 500ms ease-out
}
