@import '~node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '~bootstrap/scss/functions';

@import '~bootstrap/scss/variables';
$popover-body-padding-y: $spacer * .4;
$popover-body-padding-x: $spacer * .7;
$popover-font-size: $font-size-sm;
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/popover';

.popover-body {
	line-height: 1.1;
}

#map {
	position: absolute;
	width: 100%;
	margin-left: 100px;
	top: 0;
	bottom: 0;
	.pink {
		color: pink;
	}
}

.marker {
	background: hotpink;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
}
